/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .Text-filtres-bar {
        font-size: 14px;
        font-weight: bold;
    }

    Header {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: greenyellow; */
        /*  align-items:stretch; */
    }

    header nav {
        /* background-color: violet; */
        height: 35px;
        width: 100%;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
    }

    .button-head-nav {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: none;
        border-bottom: solid;
        border-color: white;
    }

    .main-container {
        padding: 0 0px;
    }

    .search-text {
        width: 335px;
    }

    .search-bar {
        width: 335px;
    }

    input[type='text'] {
        width: 237px;
    }    

    .trouver-hebergement {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filtres-bar {
        width: 100%;
    }

    .titre-filtres-bar {
        line-height: 21px;
        font-size: 18px;
        margin-top:0px;
        margin-bottom:3px;
    }

    .filtres-bar-four-buttons {
        width:100%;
        flex-direction: column;
    }

    .filtres-bar-two-buttons {
        width:100%;
        justify-content: left;
        gap: 10px;
    }

    .filtres-bar-buttons {
        width: 48%;
    }

    /****** Hebergements ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px;
    }

    .hebergements {
        background-color: white;
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
        width: 100%;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        height: 124px;
    }

    /****** Populaires ***********/
    .populaires {
        background-color: var(--main-bg-color);
        width: 100%;
        margin-top: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/
    .activites-title {
        margin-bottom:15px;
     }
    
    .activites-cards {
        flex-direction: column;
    }
    
    .activites-cards a {
        width: 100%;
        justify-content: stretch;
    }

    .activites-cards .card {
        margin-top: 15px;
    }
    
    .activites-cards img {
        height: 141px;
    }

    .bas-de-page {
        margin-top: 0px;
        background-color: var(--main-bg-color);
        flex-direction: column;
        justify-content: space-between;
        padding:30px 0px 20px 0px;
        gap:15px;
    }

    .footer-mentions {
        width:100%;
        margin-top:0px;
    }

}